<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harlan.jxust.wecoder">

    <!--网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--摄像头-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--通知震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- baidumap 所需的权限 -start -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--location-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.harlan.jxust.WeCoderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeGreen">
        <activity
            android:name="com.harlan.jxust.ui.activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.harlan.jxust.ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.harlan.jxust.ui.activity.ImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImageSelectorTheme" />

        <activity android:name="com.harlan.jxust.ui.activity.SettingActivity" />
        <activity android:name="com.harlan.jxust.ui.activity.NewFriendActivity" />
        <activity android:name="com.harlan.jxust.ui.activity.LoginActivity" />
        <activity
            android:name="com.harlan.jxust.ui.activity.ChatActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.harlan.jxust.ui.activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.harlan.jxust.ui.activity.MyInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.harlan.jxust.ui.activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.harlan.jxust.ui.activity.SearchActivity"
            android:screenOrientation="portrait" />


        <!-- bmobim start -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobImService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <!-- 设置bmob appkey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="dbfe0e027e5832c7a5494d9991a5b938" />
        <!-- bmobim end -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- Don't forgot InitActivity -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IUwtxpqcUWjU77UDa12CPTb8KVs6TLdn" />
    </application>

</manifest>
